CertificateWarehouseTest/Service References/CertificateWarehouseService/CertificateWarehouseService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53407/CertificateWarehouseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CertificateManager.Data.Entities" />
  <xs:element name="AddCertificateToOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organizationId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CertificateManager.Data.Entities" minOccurs="0" name="organizationCertificate" nillable="true" type="q1:OrganizationCertificate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCertificateToOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCertificateToOrganizationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrganizationToDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CertificateManager.Data.Entities" minOccurs="0" name="organization" nillable="true" type="q2:Organization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrganizationToDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrganizationToDatabaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCertificateToDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CertificateManager.Data.Entities" minOccurs="0" name="certificate" nillable="true" type="q3:Certificate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCertificateToDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCertificateToDatabaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>