CertificateManagerTest/Service References/CertificateManagerService/CertificateManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CertificateManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53407/CertificateManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53407/CertificateManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53407/CertificateManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" />
      <xsd:import schemaLocation="http://localhost:53407/CertificateManagerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CertificateManager" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICertificateManagerService_ListCertificatesInStore_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCertificatesInStore" />
  </wsdl:message>
  <wsdl:message name="ICertificateManagerService_ListCertificatesInStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCertificatesInStoreResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificateManagerService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICertificateManagerService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificateManagerService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ICertificateManagerService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ICertificateManagerService">
    <wsdl:operation name="ListCertificatesInStore">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificateManagerService/ListCertificatesInStore" message="tns:ICertificateManagerService_ListCertificatesInStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificateManagerService/ListCertificatesInStoreResponse" message="tns:ICertificateManagerService_ListCertificatesInStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificateManagerService/GetData" message="tns:ICertificateManagerService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificateManagerService/GetDataResponse" message="tns:ICertificateManagerService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificateManagerService/GetDataUsingDataContract" message="tns:ICertificateManagerService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificateManagerService/GetDataUsingDataContractResponse" message="tns:ICertificateManagerService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICertificateManagerService" type="tns:ICertificateManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListCertificatesInStore">
      <soap:operation soapAction="http://tempuri.org/ICertificateManagerService/ListCertificatesInStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICertificateManagerService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ICertificateManagerService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CertificateManagerService">
    <wsdl:port name="BasicHttpBinding_ICertificateManagerService" binding="tns:BasicHttpBinding_ICertificateManagerService">
      <soap:address location="http://localhost:53407/CertificateManagerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>